body {
    background-color: #fff;
  }

.navbar {
    background: #fff;
}

.logo-background {
    background-color: #fff;
}

.companies-bar {
    width: 1440px;
    height: 9em;
    margin: 0 auto;
    background-color: #F5FAF7;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 100px auto;
    height: 1.2em;
}

.mission-statement {
    width: 1440px;
    height: 6em;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    justify-content: center;
    color: #000;
    background-color: #fff;
}

.set-apart {
    margin: 20px auto;
    background-color: #fff;
}

.connections {
    margin: 20px auto;
}

.card-section {
    display: flex;
    margin: 30px;
    justify-content: center;
    background-color: #fff;
}

.cards {
    width: 371px;
    margin: 20px;
    height: 359px;
    border: none;
    color: #000;
    padding: 10px;
    line-height: 35px;
    font-size: medium;
    text-align: justify;
    background: #fff;
    box-shadow: -1px 11px 25px 0px rgba(153,142,142,0.93);
    -webkit-box-shadow: -1px 11px 25px 0px rgba(153,142,142,0.93);
    -moz-box-shadow: -1px 11px 25px 0px rgba(153,142,142,0.93);
}

.cards-logo {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    border: 0.5px solid grey;
}

.applicants {
    height: 500px;
    padding: 10px;
    background: #fff;
    color: #000;
    display: flex;
    margin: 40px;
    justify-content: space-around;
}

.applicants-text {
    font-size: large;
    text-align: justify;
    padding-left: 50px;
    margin-left: 100px;
}

.applicants-logo {
    margin: 1% auto;
}

.applicants-btn {
    background-color: #38B6FF;
    color: #fff;
    padding: 15px;
    border: none;
}


.recruiters {
    height: 600px;
    margin: 40px;
    padding: 50px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-around;
}

.recruiters-text {
    font-size: large;
    text-align: justify;
    padding-left: 50px;
    margin-left: 100px;
}
.recruiters-logo {
    margin: 100px;
}

.logo-recruiters {
    margin-top: 50px;
    height: 400px;
}

.recruiters-btn {
    background-color: #38B6FF;
    color: #fff;
    padding: 15px;
    border: none;
}

.testimony-solutions {
    color: #000;
    padding: 20px;
    font-size: medium;
    background-color: #fff;
}

.solutions {
    margin: 40px;
    background-color: #fff;
}
.testimonials {
    background: #fff;
    font-size: medium;
}

.testimonial-logo {
    display: flex;
    width: 100px;
    margin: 0 auto;
    justify-content: space-around;
}

.logo-testimonials {
    height: 50px;
    margin: 10px;
}

.abdel-text {
    color: #000;
}

.questions {
    color: #000;
    padding: 20px;
    font-size: medium;
}

.questions-btn {
    background-color: #38B6FF;
    color: #fff;
    padding: 15px;
    border: none;
}

.footer {
    background: #133D55;
}

.footer-top {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.footer-icons {
    width: 300px;
}

.footer-icons-logo {
    padding: 5px;
    width: 35px;
}

.contactusf {
    display: flex;
    text-align: justify;
    justify-content: space-around;
    font-size: small;
    width: 600px;
}

.contactusf .contact {
    text-align: justify;
    font-size: small;
    color: #fff;
}

.contactus-copyright {
    text-align: center;
    font-size: small;
    padding: 20px;
    margin: 20px;
}